@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Angsana New', sans-serif;
}

.blue-circle{
    animation-delay: 0.1s;
}
.green-circle{
    animation-delay: 0.2s;
}
.red-circle{
    animation-delay: 0.3s;
}
